# ðŸ’¸ Loan EDA Project:
Objective
Embark on an insightful journey into loan data analysis and prediction, designed to provide valuable learnings and practical experience in data science.

1. Introduction
- Dataset Overview: Let's start by getting familiar with our dataset â€“ understanding its origin, contents, and significance.
- Analysis Goals: Our mission is to conduct a thorough data exploration and build a model to predict loan repayment.
- Step-by-Step Guide: I'll outline our path from data inspection to predictive insights, ensuring you know what to expect at each stage.
2. Data Exploration and Cleanup
- Loading the Data: Dive into the data by loading it and previewing the initial rows to set our context.
- Statistical Summary: Unveil the dataset's story through its numbers, identifying key statistics and distributions.
- Dealing with Missing Data: Identify and address any gaps in our data, ensuring robust analysis.
- Ensuring Data Quality: Confirm that each data type aligns with its expected format for accurate analysis.
3. Exploratory Data Analysis (EDA)
- Individual Feature Review: Examine each variable independently to grasp its distribution and essence.
- Inter-feature Relationships: Investigate how variables interact and relate to each other through various analytical techniques.
- Identifying Outliers: Detect and strategize on how to handle data anomalies.
- Creative Feature Engineering: Enhance our dataset with new or transformed features based on our EDA findings.
## Future work: 4. Data Preprocessing for ModelingÂ¶
- Encoding and Transformations: Properly encode categorical variables and apply necessary transformations for model compatibility.
- Scaling Features: Normalize or standardize features to ensure equitable model treatment.
- Train-Test Split: Segregate our data into training and testing sets to validate model performance.
## Future work: 5. Building and Evaluating Predictive ModelsÂ¶
- Model Selection Rationale: Discuss the choice of various classification models suitable for our prediction task.
- Training the Models: Develop models using the training data, adjusting and fine-tuning as we go.
- Hyperparameter Optimization: Refine our models through hyperparameter adjustments to achieve optimal performance.
- Model Performance Assessment: Evaluate our models using relevant metrics to gauge their predictive power.
- Interpreting Feature Significance: Analyze which features play pivotal roles in our predictive models.
## Future work: 6. Concluding InsightsÂ¶
- Synthesizing Findings: Summarize the key takeaways from our exploration and predictive modeling.
- Reflecting on Implications: Discuss the broader implications of our findings and their relevance.
- Future Directions: Propose next steps for further investigation or application of our learnings.

1. Introduction
- Dataset Overview: Let's start by getting familiar with our dataset â€“ understanding its origin, contents, and significance.

### Features Explanation:
1. credit.policy: This binary feature reflects whether the borrower meets LendingClub.com's credit underwriting criteria (1) or not (0). This indicator is crucial as it signifies the outcome of the initial creditworthiness assessment based on the lender's policy.

2. purpose: A categorical variable that represents the loan's purpose, including categories like 'credit_card', 'debt_consolidation', 'educational', 'major_purchase', 'small_business', and 'all_other'. The purpose of the loan is vital as it influences the loan's risk profile and the likelihood of repayment.

3. int.rate: The loan's interest rate represented as a proportion (e.g., 0.11 for 11%). Interest rates are pivotal as they reflect the lender's risk assessmentâ€”higher rates often correlate with perceived higher borrower risk.

4. installment: The monthly installment amount the borrower must pay if the loan is funded. Installments are significant as their size can impact the borrower's repayment capacity, especially relative to their income and other debts.

5. log.annual.inc: The natural logarithm of the borrower's self-reported annual income. Employing the logarithm reduces income distribution skewness, facilitating better modeling.

6. dti: The debt-to-income ratio, computed as debt divided by annual income. A higher DTI suggests that a large income portion is allocated to debt servicing, potentially affecting loan repayment.

7. fico: The FICO credit score, a critical measure of creditworthiness influencing loan approval and terms.

8. days.with.cr.line: The number of days the borrower has had a credit line, where longer histories might imply more financial reliability.

9. revol.bal: The borrower's unpaid balance at the credit cycle end, with higher balances possibly indicating financial strain.

10. revol.util: The rate at which the borrower utilizes their revolving credit line. Higher rates can signify elevated credit risk.

11. inq.last.6mths: The count of credit inquiries in the last six months, where more inquiries can suggest increased credit-seeking behavior and potential risk.

12. delinq.2yrs: Instances of being 30+ days late on payments in the past two years, reflecting on the borrower's reliability.

13. pub.rec: The count of derogatory public records like bankruptcy filings or tax liens, which can significantly impact creditworthiness.

14. not.fully.paid: The binary target variable indicating whether the loan was not fully repaid (1) or was (0). Our predictive modeling efforts focus on this outcom


## 2. Data Exploration and CleanupÂ¶
Loading the Data
Load and preview the dataset to set the stage for further analysis.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

file_path='/Users/apple/Downloads/loan_data.csv'
df=pd.read_csv(file_path)
df.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [7]:
df.tail()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [9]:
df.shape

(9578, 14)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [14]:
df.size

134092

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
credit.policy,9578.0,0.804970,0.396245,0.000000,1.000000,1.000000,1.000000,1.000000e+00
int.rate,9578.0,0.122640,0.026847,0.060000,0.103900,0.122100,0.140700,2.164000e-01
installment,9578.0,319.089413,207.071301,15.670000,163.770000,268.950000,432.762500,9.401400e+02
log.annual.inc,9578.0,10.932117,0.614813,7.547502,10.558414,10.928884,11.291293,1.452835e+01
dti,9578.0,12.606679,6.883970,0.000000,7.212500,12.665000,17.950000,2.996000e+01
fico,9578.0,710.846314,37.970537,612.000000,682.000000,707.000000,737.000000,8.270000e+02
days.with.cr.line,9578.0,4560.767197,2496.930377,178.958333,2820.000000,4139.958333,5730.000000,1.763996e+04
revol.bal,9578.0,16913.963876,33756.189557,0.000000,3187.000000,8596.000000,18249.500000,1.207359e+06
revol.util,9578.0,46.799236,29.014417,0.000000,22.600000,46.300000,70.900000,1.190000e+02
inq.last.6mths,9578.0,1.577469,2.200245,0.000000,0.000000,1.000000,2.000000,3.300000e+01
delinq.2yrs,9578.0,0.163708,0.546215,0.000000,0.000000,0.000000,0.000000,1.300000e+01
pub.rec,9578.0,0.062122,0.262126,0.000000,0.000000,0.000000,0.000000,5.000000e+00
not.fully.paid,9578.0,0.160054,0.366676,0.000000,0.000000,0.000000,0.000000,1.000000e+00

## Statistical Summary
Examine the dataset's summary statistics to gain insights into the distribution and scale of each feature.